<div class="container">
  <div class="row">

    <section class="col-3">

      <h5 class="text-warning ml-3">Sort</h5>
      <select class="custom-select mb-3" (change)="onSortSelected($event)"
      >
        <option
          *ngFor="let option of sortOptions"
          [value]="option.value"
        >
          {{option.name}}
        </option>
      </select>

      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let brand of productBrands"
          [class.active]="brand.id === this.shopParams.brandId"
          (click)="onSelectProductBrand(brand.id)"
        >
          {{brand.name}}
        </li>
      </ul>

      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let type of productTypes"
          [class.active]="type.id === this.shopParams.typeId"
          (click)="onSelectProductType(type.id)"
        >
          {{type.name}}
        </li>
      </ul>

    </section>

    <section class="col-9">

      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [pageIndex]="pageIndex$ | async"
          [pageSize]="pageSize$ | async"
          [totalCount]="totalCount$ | async"
        >
        </app-paging-header>
        <div class="form-inline mt-2" [formGroup]="form">
          <input
            formControlName="searchInput"
            style="width: 300px"
            placeholder="search"
            type="text"
            class="form-control"
          >
          <button (change)="onSearchInputChange()" class="btn btn-outline-primary ml-2 my-2">Search</button>
          <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
        </div>
      </div>

      <!--PRODUCTS ITEMS-->
      <div class="row">
        <div @fade class="col-4 mb-4" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>

      <div
        *ngIf="totalCount$ | async"
        class="d-flex justify-content-center"
      >
        <app-pager
          [pageSize]="pageSize$ | async"
          [totalCount]="totalCount$ | async"
          (pageChanged)="onPageChanged($event)"
        >
        </app-pager>
      </div>
    </section>
  </div>
</div>
